body{
	background: url(../img/bg66.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
}
.navbar-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-now{
	background-color:#5bc0de;
	color:#fff;
}
nav-pad{
	padding: 0px;
}
.text-shadow{
	text-shadow: 4px 4px 4px lightgrey;
}
.box-shadow{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#bg_theme{
	background-color: #FFEC33;
	height: auto;
	max-width: 100%
}

#main_content{
	color: navyblue;
}
